<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Titulo de la Newsletter</title>

	<!-- *************************** B A S I C S *************************** -->
	<meta charset="utf-8">
	<meta name="author" content="JLRZ">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="CETEC One.net">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- *************************** C S S *************************** -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="bower_componentsbootstrap/css3/bootstrap.min.css">

	<!-- Estilos Generales -->
	<link rel="stylesheet" href="bower_componentscss/principal.css">

	<!-- Fuente Open Sans -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->

	<!-- glyphicons DevIcons -->
	<!-- <link rel="stylesheet" href="bower_componentsglyphicons/css/devicons.min.css" media="all" title="no title" charset="utf-8"> -->

	<!-- Remodal (Plugin jQuery para ventanas modales) -->
	<!-- <link rel="stylesheet" href="bower_components/remodal/dist/jquery.remodal.css"> -->

	<!--Fontawesome (Fuente de Pictogramas) -->
	<!-- <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"> -->

</head>

<body>



	<!-- F O O T E R -->
	<footer id="footer">

		<!--Contenedor del footer-->
		<div class="container text-center">
			<h6 class="text-muted">Corporativo CETEC 2014</h6>
		</div><!--/Contenedor del footer-->

	</footer><!--/Footer-->

</body>

	<!-- *************************** J S *************************** -->
	<!-- Script de cofiguraciones generales -->
	<script src="myAssets/js/global.config.js"></script>

    <!-- jQuery -->
	<script src="bower_components/bootstrap/jquery/dist/jquery.min.js"></script>

	<!-- jQuery UI-->
	<!-- <script src="bower_componentsjquery/jquery-ui/js/jquery-ui.js"></script> -->

	<!-- Bootstrap -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
