/*links*/
a{
    color:#336666;
}
a:focus, a:hover {
  color: #468687;
  text-decoration: underline;
  }




.navbar-default {
    background-color:white;
    border:none;
    border-bottom:2px solid #336666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-default .navbar-nav>li>a {
  color: #1abc9c;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #16a085;
  background-color: transparent;
}

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    /*text-shadow: #ffffff 1px 1px 0px;*/
    background-color: #336666;
    font-weight: bold;
}

/*** Login.html ***/
#headerLogin{
    background-color: #336666;
    width: 100%;
    padding:1.5em 0 1.5em 0;
    text-align: center;
}

#rowContenido{
    margin: auto;
    width: 100%;
    padding:0 1em;
    text-align: center;
}

h3{
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(152, 152, 152);
  text-align: center;
  padding: 1em 0 0 0;
}

hr{
  color: rgb(225, 225, 225);
  width: 80%;
  margin-bottom: 50px;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
 }

 /*Input (Caja de Texto)*/
  .form-control{
      border: 3px solid #336666;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-size: 18px;
      font-family: "Open Sans";
      color: #336666;
      font-weight: bold;
  }
  .form-control:focus{
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 3px solid #336666;
      background-color: #ecf0f1;
}


  /*Iconos dentro de un input goup*/
  .input-group-addon{
      background-color:#336666;
      border: 1px solid #336666;
      color: white;
  }
  .input-group-addon:focus{
      -ms-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  #inputEmail{
      max-width:25em;
      margin-bottom: 3em;
  }

  #inputPass{
    max-width:25em;
    margin-bottom: 3em;
  }

  .btn-primary{
      background-color:#336666;
      border: none;
      border-radius: 0;
  }
  .btn-primary:hover{
      background-color:#468687;
  }

  /*Boton Iniciar sesion*/
  #btnIniciarSesion{
      margin-bottom:3em;
  }

  /*Olvide mi contraseña*/
  #linkResetPass{

  }

/*Logo*/
.navbar-brand{
    padding-top:0px;
}


/****************************** H O M E *************************************/
/*Carrusel*/
#carrusel{
    padding-top:8em;
    text-align: center;
    border-bottom:2px solid #336666;
    background-color: silver;
}

/*Titulo Carrusel*/
.tituloCarrusel{
  font-size: 5em;
  font-family: "Segoe UI";
  line-height: 0.85em;
  color: #ffffff;
  text-align: center;
  text-shadow: #336666 0.05em 0.05em 0px;
}
