#mainNavBar{
    background-color: #1f7f5c;
    box-sizing: border-box;
    border-bottom: 2px solid #19664a;
    max-height:50px;
}

.navbar-default{
    /*border: none;*/
}

.navbar-brand{
    padding-top:3px;
    background-color: #19664a;
}

.navbar-default .navbar-nav>.active>a {
  color: #ffffff;
  /*text-shadow: #ffffff 1px 1px 0px;*/
  background-color: #19664a !important;
  font-weight: bold;
  font-size: 18px;
  }
  .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:hover{
      color:#1abc9c !important;
  }


.navbar-default .navbar-nav>li>a {
    color: #19543c;
    font-weight: bold;
    font-size: 18px;
    /*padding:1em;*/
    padding-top:7px;
    padding-left:1.25em;
    padding-right:1.25em;
    margin:0;
    background-color:#1f7f5c;
}

/*.navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
}*/

.navbar-default .navbar-nav>li>a>.fa {
    padding-right:0.25em;
    padding-top:0.2em;
    padding-bottom:0.19em;
}

a#nombreUsuarioSesion{
    font-size: 1em;
    font-weight: normal;
    color:white;
    padding-bottom:0px;
    padding-top:0px;
    margin-top:0;
    margin-bottom:0px;
}
a#nombreUsuarioSesion:hover{
    background-color: #19664a;
}
a#nombreUsuarioSesion:focus{
    background-color: #19543c;
}

#menuSesion{
    background-color: ;
}

.navbar-default .navbar-nav>li>a>.fa {
    color:#19543c;
    padding-right:0em;
    margin-right:0;
    right:0;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffffff;
  background-color: #19664a;
 }

 .navbar-nav>li>.dropdown-menu {
     background-color: #19543c;
     color: #1abc9c;
     width:100%;
}

.dropdown-menu>li>a {
    color:#ffffff;
    line-height: 2em;
}
.dropdown-menu>li>a:hover {
    background-color: #19664a;
    color:#1abc9c;
}

.dropdown-menu>li>a>i {
    margin-left: 0em;
    margin-right: 0.75em;
}

.badge.badge-red{
    background-color:#e74c3c;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
    background-color: #19664a;
}
